*{
    margin: 0;
    padding: 0;
}

.parent img{
    width: 100%;
    height: 50px;
}
.search input{
    width: 400px;
    height: 50px;
}
.search button{
    background-color: rgb(245, 144, 12);
    border: 0px;
    color: white;
    height: 50px;
    width: 70px;
}
.bdy{
    background-color: rgb(177, 202, 250);
    height: 100%;
}
